body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #f5f5f5;
  color: #333;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
  color: #800000; /* Rojo oscuro */
}

input[type="text"] {
  width: calc(100% - 80px);
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #800000; /* Rojo oscuro */
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #a0522d; /* SaddleBrown */
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

li button {
  margin-left: 10px;
  background-color: #cd5c5c; /* IndianRed */
}

li button:hover {
  background-color: #8b0000; /* DarkRed */
}
